header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 0 -20px 50px;
  height: 100px;
}
header h1 {
  margin-left: 20px;
}
header div.header_buttons {
  margin-right: 20px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

footer {
  height: 50px;
  text-align: center;
  margin: 50px -20px 0;
  padding-top: 30px;
  border-top: 1px solid black;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  column-gap: 30px;
  row-gap: 30px;
  text-align: center;
  min-height: calc(100vh - 282px);
}
.product-list__item {
  padding: 20px;
  border: 1px solid black;
  position: relative;
}
.product-list__item input {
  position: absolute;
  top: 20px;
  left: 20px;
}
.product-list__item p:first-of-type {
  padding: 0 20px;
}
.product-list__empty {
  font-size: 20px;
}

form {
  min-height: calc(100vh - 282px);
  position: relative;
}
form label {
  min-width: 100px;
  display: inline-block;
}
form input {
  border-radius: 5px;
  border-width: 1px;
}
form input.input_error {
  border-color: red;
}
form select {
  font-size: 16px;
  padding: 5px 10px;
}
form button {
  position: absolute;
  top: -121px;
  right: 108px;
}
form .error {
  color: red;
  margin-left: 103px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
body h1 {
  font-size: 32px;
}
body p, body input, body label {
  font-size: 16px;
}
body button {
  font-size: 14px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
