form
  min-height: calc(100vh - 282px)
  position: relative

  label
    min-width: 100px
    display: inline-block

  input
    border-radius: 5px
    border-width: 1px

    &.input_error
      border-color: red

  select
    font-size: 16px
    padding: 5px 10px

  button
    position: absolute
    top: -121px
    right: 108px

  .error
    color: red
    margin-left: 103px
