@import header.sass
@import footer.sass
@import product-list.sass
@import add-product

body
  margin: 0

  #page
  font-family: 'Roboto', sans-serif
  max-width: 1200px
  margin: 0 auto
  padding: 0 20px

  h1
    font-size: 32px

  p, input, label
    font-size: 16px

  button
    font-size: 14px
    padding: 10px 20px
    background-color: white
    border-radius: 6px
    cursor: pointer
