header
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid black
  margin: 0 -20px 50px
  height: 100px

  h1
    margin-left: 20px

  div.header_buttons
    margin-right: 20px
    display: flex
    align-items: center
    column-gap: 30px