.product-list
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-auto-rows: min-content
  column-gap: 30px
  row-gap: 30px
  text-align: center
  min-height: calc(100vh - 282px)

  &__item
    padding: 20px
    border: 1px solid black
    position: relative

    input
      position: absolute
      top: 20px
      left: 20px

    p:first-of-type
      padding: 0 20px

  &__empty
    font-size: 20px